<h4><%= link_to "Make a new survey", new_survey_path %></h4>
<% Survey.all.each do |survey| %>
  <h4><%= link_to survey.name, survey_path(survey.id) %></h4>
  <h5><%= survey.description %></h5>
  <br>
<% end %>